@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --bg-opacity: 1;
  --bg-color: 243, 244, 246;
  --text-color: 3, 7, 18;
}

.theme-dark {
  --bg-opacity: 1;
  --bg-color: 15, 23, 42;
  --text-color: 249, 250, 251;
}

body {
  background-color: rgba(var(--bg-color), var(--bg-opacity));
  color: rgb(var(--text-color));
}

.theme-light footer {
  border-color: #d1d5db;
}

.theme-dark footer {
  border-color: #1f2937;
}

.theme-light .card {
  background-color: #f9fafb;
}

.theme-dark .card {
  background-color: #1f2937;
}

.theme-dark .fa {
  color: #f9fafb;
}

.theme-dark .fa:hover {
  color: #9ca3af;
}